{
  "Archetype React": {
    "prefix": "archbook",
    "description": "Definições de storybook de forma mais rápida.",
    "body": [
      "import React from \"react\";",
      "import PropTypes from \"prop-types\";",

      "const Feature = () => (",
      " ",
      ");"
    ]
  }
}
